In [1]:
mylist = [1,2,3]

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
word = 'abcde'

for index,val in enumerate(word):
    print(index)
    print(val)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [15]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [17]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [18]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [20]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [22]:
'x' in [1,2,3]

False

In [23]:
'x' in ['x','y','z']

True

In [24]:
'a' in 'a world'

True

In [25]:
'mykey' in {'mykey':123}

True

In [27]:
d = {'k1':123}

123 in d.keys()

False

In [28]:
mylist = [10,20,30,100]

In [29]:
min(mylist)

10

In [30]:
max(mylist)

100

In [31]:
from random import shuffle

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
shuffle(mylist)

In [44]:
mylist

[2, 5, 6, 4, 1, 8, 3, 10, 7, 9]

In [45]:
from random import randint

In [47]:
randint(0,100)

16

In [48]:
randint(0,100)

37

In [49]:
mynum = randint(0,100)

In [50]:
mynum

77

In [51]:
input('what is your number : ')

what is your number : 50

'50'

In [52]:
result = input('what is your name? ')

what is your name? Alul

In [53]:
result

'Alul'